@{
    ViewBag.Title = "Anand Classes | About";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}
<style>
    /**********************
    /***** Services *******
    /*********************/
    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #what-we-do {
        background: #ffffff;
    }

        #what-we-do .card {
            padding: 1rem !important;
            border: none;
            margin-bottom: 1rem;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

            #what-we-do .card:hover {
                -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
                -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
                box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            }

            #what-we-do .card .card-block {
                padding-left: 50px;
                position: relative;
            }

                #what-we-do .card .card-block a {
                    color: #007b5e !important;
                    font-weight: 700;
                    text-decoration: none;
                }

                    #what-we-do .card .card-block a i {
                        display: none;
                    }

            #what-we-do .card:hover .card-block a i {
                display: inline-block;
                font-weight: 700;
            }

            #what-we-do .card .card-block:before {
                font-family: FontAwesome;
                position: absolute;
                font-size: 39px;
                color: #007b5e;
                left: 0;
                -webkit-transition: -webkit-transform .2s ease-in-out;
                transition: transform .2s ease-in-out;
            }

            #what-we-do .card .block-1:before {
                content: "\f0e7";
            }

            #what-we-do .card .block-2:before {
                content: "\f0eb";
            }

            #what-we-do .card .block-3:before {
                content: "\f00c";
            }

            #what-we-do .card .block-4:before {
                content: "\f209";
            }

            #what-we-do .card .block-5:before {
                content: "\f0a1";
            }

            #what-we-do .card .block-6:before {
                content: "\f218";
            }

            #what-we-do .card:hover .card-block:before {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;
            }
</style>

<br />
<br />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Services section -->
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">What we do</h2>
        <p class="text-center text-muted h5">Our Education is an Estabilised Trademark in Rating, Ranking and Reviewing Top 10 Educational Institutes, Test series Cources and Coaching Classes.</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">About Us</h3>
                        <p class="card-text">Anand classes excels yearly due to our students and dedicated teachers. We offer superior learning experiences, fostering students' overall development.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Our Educational Excellence</h3>
                        <p class="card-text">Anand classes is a trusted trademark for top-ranking educational institutes, test series courses, and coaching classes.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Our Unique Features</h3>
                        <p class="card-text">Anand classes stands out with highly qualified teachers, affordable fees, prepared notes, regular tests, disciplined environment, digital education, individualized attention, and backup classes.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">10th and 12th Board Exam Preparation</h3>
                        <p class="card-text">Our Deoria center features experienced faculty, special doubt sessions, comprehensive syllabus coverage, high-quality study materials, the region's highest success rate, library facilities, and more.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Different Facilities Offered</h3>
                        <p class="card-text">We provide classroom programs, test series, correspondence courses, good infrastructure, small batch sizes, affordable fees, effective learning strategies, and regularly updated study materials.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Overview of Coaching Facilities</h3>
                        <p class="card-text">Anand classes offers a range of educational facilities, including classroom programs, test series, correspondence courses, modern infrastructure, small batch sizes, affordable fees, effective learning techniques, and up-to-date study materials.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Services section -->