@{
    ViewBag.Title = "Anand Classes | Contact";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}

<style>


    .contact {
        padding-bottom: 100px;
    }

        .contact .heading {
            margin-bottom: 50px;
        }

            .contact .heading h2 {
                font-size: 30px;
                font-weight: 700;
                color: #404356;
                margin: 0;
                margin-bottom: 15px;
            }

                .contact .heading h2 span {
                    color: #20b2aa;
                    font-weight: 300;
                }

            .contact .heading p {
                font-size: 14px;
                font-weight: 400;
                color: #525f7f;
                line-height: 26px;
                margin: 0;
            }

        .contact .main {
            background: #ffffff;
            box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.08);
        }

            .contact .main h3 {
                font-size: 20px;
                font-weight: 500;
                color: #4a545e;
                margin: 0;
                margin-bottom: 20px;
            }

        .contact .form-control {
            padding: 25px;
            font-size: 13px;
            margin-bottom: 10px;
            background: #f8f8f9;
            border: 0;
            border-radius: 5px;
        }

        .contact button.btn {
            padding: 10px;
            border-radius: 5px;
            font-size: 15px;
            background: linear-gradient(to right, rgba(32,178,170,1) 0%, rgba(52,177,241,1) 100%);
            color: #ffffff;
        }

        .contact .main .left {
            padding: 40px 60px;
        }

        .contact .main .right {
            background: #20b2aa;
            background-size: cover;
            padding: 40px;
            color: #ffffff;
            height: 100%;
        }

            .contact .main .right h4 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .contact .main .right .info {
                margin-bottom: 35px;
            }

                .contact .main .right .info i {
                    font-size: 25px;
                    color: #ffffff;
                }

                .contact .main .right .info span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-left: 15px;
                }

            .contact .main .right .social a {
                text-decoration: none;
                font-size: 30px;
                color: #ffffff;
                margin-right: 20px;
            }
</style>

<br />
<br />
<br />
<br />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="contact" id="contact">
    <div class="container">
        <div class="heading text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h2>
                <span>Keep In</span>
                Touch
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eligendi
                <br>
                saepe deleniti sequi sint quaerat.
            </p>
        </div>
        <div class="main wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-lg-8 left">
                    <h3>Send Message</h3>

                    <form method="post" action="/Home/Contact">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name" class="form-control" placeholder="Name" id="name">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" name="email" class="form-control" placeholder="Email" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" id="message" placeholder="Message"></textarea>
                        </div>
                        <button class="btn btn-block" type="submit" onclick="SendEmail()">Send Now!</button>
                    </form>
                </div>
                <!-- Left -->
                <div class="col-lg-4">
                    <div class="right">
                        <h4>Contact Information</h4>
                        <div class="info d-flex align-items-center" style="background: #20b2aa;">
                            <i class="fa fa-map-marker" aria-hidden="true" style="background: #20b2aa;"></i>
                            <span>Tali Mathiya More, Mairwa, Siwan(Bihar) , 841239</span>
                        </div>
                        <div class="info d-flex align-items-center" style="background: #20b2aa;">
                            <i class="fa fa-chrome" aria-hidden="true" style="background: #20b2aa;"></i>
                            <span>
                                +91-8226935738
                            </span>
                        </div>
                        <div class="info d-flex align-items-center" style="background: #20b2aa;">
                            <i class="fa fa-phone" aria-hidden="true" style="background: #20b2aa;"></i>
                            <span>
                                anandclasses@gmail.com
                            </span>
                        </div>
                        <div class="social">
                            <a href="#0">
                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                            </a>
                            <a href="#0">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#0">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="https://smtpjs.com/v3/smtp.js"></script>


<script>
    function SendEmail() {

        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var message = document.getElementById('message').value;

        var body = "Dear " + name + "!<br/><br/>Thank you for getting in touch with us through our contact form. We appreciate your inquiry, and we're here to assist you.<br/><br/>Here are the details you provided:<br/><br/>Name: " + name + "<br/>Email: " + email + "<br/>Message: " + message + "<br/><br/>We have received your message and will review it shortly. Our team will respond to you as soon as possible to address your inquiry.<br/><br/>Once again, thank you for choosing Anand Classes. We look forward to helping you.<br/><br/>Best regards,<br/>Vikash Kumar Gupta<br/>Web Developer<br/>Anand Classes<br/>";


        Email.send({
            SecureToken: "1c6ea53e-d230-433e-99fb-b7c095db4ae8",
            To: email,
            From: "madhumairwa.9876@gmail.com",
            Subject: "Thank You for Contacting Anand Classes",
            Body: body
        }).then(
            message => alert(message)
        );


    }
</script>

