@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}


<div class="container">
    <div class="row text-center">
        <div class="col-md-12 p-5">
            <h1 class="text-center" style="text-shadow: 2px 2px 1px gray;">Change Password Form</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-8">

            <form action="/Admin/Change_Password" method="post">
                <input name="Old_Password" type="password" placeholder="Enter old Password " class="form form-control" /><br />
                <input name="New_Password" type="password" placeholder="Enter new Password " class="form form-control" /><br />
                <input name="Confirm_Password" type="password" placeholder="Confirm new Password " class="form form-control" /><br />

                <input type="submit" value="Change" class="btn btn-success float-right" />

            </form>

        </div>
        <div class="col-md-2">
        </div>

    </div>

</div>

