

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/hover-min.css">
    <link rel="stylesheet" href="~/Content/css/icofont.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/icofont/icofont.min.css">

    <link rel="stylesheet" href="~/Content/main.css">

    <!-- links for course -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--links for about-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!-- links for footer-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>



    <div class="main">
        <div class="main3">
            <!-- navbar start -->
            <header id="header" class="fixed-top" data-aos="fade-up" data-aos-delay="500">
                <div class="container d-flex">
                    <h1 class="logo mr-auto">
                        <a href="/Home/Index">
                            <i class="ri-home-2-fill"></i><span>
                                Anand
                                Classes
                            </span>
                        </a>
                    </h1>
                    <nav class="nav nav-menu d-none d-lg-block">
                        <ul>
                            <li class=""><a href="/Home/index"><i class="ri-home-2-line"></i> Home</a></li>
                            <li class="drop-down ">
                                <a href="#"><i class="fa-regular fa-address-card"></i> About Us</a>
                                <ul>
                                    <li><a href="/Home/about">About</a></li>
                                    <li><a href="/Home/courses"> Courses</a></li>
                                    <li><a href="/Home/faculty"> Faculty</a></li>
                                    <li><a href="/Home/gallery"> Gallery</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="/Home/contact"><i class="ri-contacts-book-2-line"></i> Contact Us</a></li>
                            <li class=""><a href="/Home/Signup"><i class="ri-wordpress-fill"></i> Sign Up</a></li>
                            <li class=""><a href="/Home/Login"><i class="ri-wordpress-fill"></i> Login</a></li>
                            <li class=""><a href="#"><i class="ri-wordpress-fill"></i> Blog</a></li>
                            <li class=""><a href="/Home/feedback"><i class="ri-feedback-line"></i> Feedback</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    <!-- navbar end -->









    <div>
        @RenderBody()
    </div>








    <br>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick Pages</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="/Home/Index"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="/Home/About"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="/Home/Courses"><i class="fa fa-angle-double-right"></i>Courses</a></li>
                        <li><a href="/Home/Faculty"><i class="fa fa-angle-double-right"></i>Faculty</a></li>
                        <li><a href="/Home/Gallery"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick Pages</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="/Home/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                        <li><a href="/Home/Signup"><i class="fa fa-angle-double-right"></i>Sign Up</a></li>
                        <li><a href="/Home/Login"><i class="fa fa-angle-double-right"></i>Login</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                        <li><a href="/Home/Feedback"><i class="fa fa-angle-double-right"></i>Feedback</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Sarkari Result</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>UPMSP</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>CBSE</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Bihar Board</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Anand Classes</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100046884764661/"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://instagram.com/anandkumarsingh202"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="mailto:anandclasses@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>
                        This coaching institute is founded by Anand Sir.
                        Designed and developed by<a class="text-green ml-2" href="#"
   target="_blank"><b>Vikash Kumar Gupta</b></a>.
                    </p>
                    <p class="h6">
                        ®️ All right Reversed © Copyright 2023.  
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </section>
    <!-- ./Footer -->
    <!-- ======================================================================================================================================================= -->

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/counterup.min.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/main.js"></script>

    <script src="~/Content/main.js"></script>
</body>
</html>
